<div class="loginBackground">

  <div id="container">
  </br></br>
    <img id="imageLogo" src="photos/avocado.png">
  </div>

  <div id="container" style="border: 1px solid black;">
    <div id="login">

    </br>
      <div class="centerThisPart">
        <h1> Sign in Or Register </h1>
        <h1 style="padding-left: 80px;"> to Share Recipes! </h1>
        <br/>
      </div>

      <div class="centerThisPart" style="padding-left: 80px;">
          <input id="username" name="username" type="text" placeholder="Name" class="form-control fillText" style=" black; background-color: rgb(227,227,227); " required>
          <br/>
          <input id="pass" name="password" type="password" placeholder="Password" class="form-control fillText" style="color: black; background-color: rgb(227,227,227);" required>
          <br/>
      </div>

      <div class="centerThisPart" style="padding-left: 120px;">
        <button type="submit" onClick="loginfunc()" class="btn right" style="color: white; background-color: black;">Login</button>
        <button type="submit" onClick="registerfunc()" class="btn nextToRight" style="color: white; background-color: black;">Signup</button>
      </div>

      <div></br></div>

    </div>
  </div>
</div>
