<div id="container" >

        <table id=feed>
          <tr id="itemsTable">
           <td id="HeaderitemsTable">Newest</td>
         </tr>
       </table>

       <table id=feed>
         <tr id="itemsTableByRate">
          <td id="HeaderitemsTableByRate">Popular</td>
        </tr>
      </table>

      <table id=feed>
        <tr id="MyRecipes">
         <td id="HeaderMyRecipes">Uploads</td>
       </tr>
     </table>


      <footer>
      </footer>

</div>

<script>
    function onPageLoded(){
      getItems();
    }
</script>
